@import"module/footer.scss";
*{
    margin:0;
    padding:0;
}
ul,ol{
    list-style: none;
}
.login_wrap{
    position: relative;
    height:642px;
    margin: 0px auto;
    width: 100%;
    background: #999;
    overflow: hidden;
    background: #CCC;
    background: url(../imgs/login_bg.png) center -100px no-repeat;
    background-size: cover ;
}
.login_content{
    height: 1000px;
    position: absolute;
    width:50%;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -100px;
    background: none;
    ul{
        margin-left: 70px;
        li{
            display: inline-block;
            border: 1px solid #fff;
            line-height: 32px;
            margin-left: 2px;
            a{
                color: #fff;
                font-size: 14px;
                display: inline-block;
                padding: 0px 22px;
                text-decoration: none;
            }
            &:hover{
                a{
                    color: #000;
                    background: #fff;
                }
            }
        }
    }
    .login{
        width:625px;
        height: 400px;
        background: #fff;
        h3{
            text-align: center;
            padding-top: 50px;
            font-size: 20px;
            font-weight: normal;
        }
        p{
            margin-top: 20px;
            text-align: center;
            margin-bottom: 40px;
            font-size: 16px;
        }
        form{
            width:272px;
            margin: 0 auto;
            .form-group{
                width:100%;
                margin-left:0;
                margin-right: 0; 
            }
            input{
                width:100% !important;
                height: 42px;
            }
            button{
                width:100%;
                height:42px;
                background: rgb(148, 216, 70);
                font-size: 17px;
                color: #fff;
                border:none;
            }
            p{
                font-size: 12px;
                height:16px;
                margin-top: 50px;
                margin-right: -150px;
                text-align: right;
            } 
        }
    }
}